﻿@model Assment_MVC.Models.Category

@{
    ViewBag.Title = "CreateCategory";


}



@using (Html.BeginForm("StoreCategory", "", FormMethod.Post))
{
    <div class="form-group">
        <label>Category Name</label>
        @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </div>

}
