﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-4 m-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Product
        </button>
    </div>

    <div class="col-4  m-2">
        <button type="button" class="btn  btn-secondary" data-toggle="modal" data-target="#exampleModal_1">
            Add Category
        </button>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/action_page.php">
                    <div class="form-group">
                        <label for="email">Product Name</label>
                        <input type="tel" class="form-control" id="product_name">
                    </div>
                    <div class="form-group">
                        <label for="product_price">Product Price</label>
                        <input type="tel" class="form-control" id="product_price">
                    </div>
                    <div class="form-group">
                        <label for="email">Category</label>
                        <select class="form-control category">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal"  id="addProduct">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/action_page.php">
                    <div class="form-group">
                        <label for="name">Category Name</label>
                        <input type="tel" class="form-control" id="name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addCategory" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<table class="table  table-hover ">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <thead class="data" >

    </thead>
    

</table>



@section ClientScript{
    <script>

        let activeStatus;

        $(document).ready(function () {
            getCategory();
            getProduct();
        });

        $('#addProduct').click(function () {
            var product_name = $('#product_name').val();
            var product_price = $('#product_price').val();
            var category = $('.category').val();
            var data = {};
            data.product_name = product_name;
            data.product_price = product_price;
            data.catrgory_id = parseInt(category);
            $.ajax({
                url: "/Product/AddProduct",
                method: "POST",
                data: data,
                dataType: "json",
                success: function (res) {
                    alert(res);
                    getProduct();
                 }
             });
        });


        function getCategory() {
            $.ajax({
                url: "/Product/GetCategoryKey",
                method: "GET",
                dataType: "json",
                success: function (res) {
                    for (var i = 0; i < res.length; i++) {
                        $('.category').append(`<option  value= "${res[i].id}" >` + res[i].name + '</option>');
                    }
                }
            });
        }

        function getProduct() {
            $.ajax({
                url: "/Product/GetProduct",
                method: "GET",
                dataType: "json",
                success: function (res) {
                    $('.data').html("");
                    for (var i = 0; i < res.length; i++) {
                       if (res[i].product_name != null) {
                            $('.data').append(`
                                <tr>
                                    <td style="display:none;"> ${res[i].product_id} </td>
                                    <td> ${res[i].product_name} </td>
                                    <td> ${res[i].product_price} </td>
                                    <td>
                                        <button class="btn btn-primary"   onclick="getProductById(${res[i].product_id})">Update</button>
                                        <button class="btn btn-danger" onclick="FnDelete(${res[i].product_id})"  >Delete</button>
                                    </td>
                                </tr>
                               `)
                       }
                    }
                }
            });
        }


        function getProductById(id) {
            $.ajax({
                url: "/Product/GetProductById/" + id,
                method: "GET",
                dataType: "json",
                success: function (res) {
                    data = JSON.parse(res);
                    console.log(data);
                    $('#product_name').val(data.product_name);
                    $('#product_price').val(data.product_price);
                    $('.category').val();
                    $("#exampleModal").modal("show");
                    activeStatus = 1;
                }
            });
        }


        function FnDelete(id) {
            $.ajax({
                url: "/Product/RemoveProuct/"+ id,
                method: "GET",
                success: function (res) {
                    alert(res);
                    getProduct()
                }
            });
        }
    </script>
}



