﻿@model Assment_MVC_1.Models.tbl_Category


@{
    ViewBag.Title = "Category";
}

@using (Html.BeginForm("Category", "", FormMethod.Post))
{
    <div class="form-group">
        <label>Category Name</label>
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Desc</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Picture</label>
        @Html.TextBoxFor(x => x.Picture, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </div>

}


