﻿@model Assment_MVC_1.Models.tbl_Product
@{
    ViewBag.Title = "AddProduct";
}



@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
{
    <div class="form-group">
        <label>Product Name</label>
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Category ID</label>
        @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Supplire ID</label>
        @Html.TextBoxFor(x => x.SupplierlId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Quantity PerUnit</label>
        @Html.TextBoxFor(x => x.QuantityPerUnit, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>UnitslnStock</label>
        @Html.TextBoxFor(x => x.UnitslnStock, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Unit price</label>
        @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>UnitslnStock</label>
        @Html.TextBoxFor(x => x.UnitslnStock, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Rerdelevel</label>
        @Html.TextBoxFor(x => x.ReorderLevel, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Discontinued</label>
        @Html.TextBoxFor(x => x.Discontinued, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    </div>

}
