﻿@model List<Assment_MVC_1.Models.tbl_Product>
@{
    ViewBag.Title = "Index";
}

<div>
    <button class="btn btn-primary" >
        <a  href="/Product/AddProduct"></a>
    </button>
</div>

<table class="table  table-hover ">
    <tr>
        <th>Product Name</th>
        <th>Category ID</th>
        <th>Supplire ID</th>
        <th>Quantity PerUnit</th>
        <th>Rerdelevel</th>
        
        <th>Unit price</th>
        <th>Discontinued</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.CategoryID</td>
            <td>@item.SupplierlId</td>
            <td>@item.QuantityPerUnit</td>

            <td>@item.ReorderLevel</td>
            <td>@item.UnitPrice</td>
        <td>@item.Discontinued</td>
        <td>
            <a href="@Url.Action("Student", new { item.ProductID, item.ProductName,item.SupplierlId,item.QuantityPerUnit,item.ReorderLevel,item.Discontinued})" class="btn btn-success">Edit</a>
            <a href="@Url.Action("Delete" , new { item.ProductID})" class="btn btn-danger"> Delete</a>
        </td>
    </tr>
    }
</table>
