﻿@model Assment_MVC.Models.Product


@{
    ViewBag.Title = "Index";
}



@using (Html.BeginForm("AddProduct", "", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            <label>Product Name</label>
            @Html.TextBoxFor(x => x.product_name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Price</label>
            @Html.TextBoxFor(x => x.product_price, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Category</label>
            @Html.TextBoxFor(x => x.catrgory_id, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>
    </div>
}











